* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px 20px;
}

@mixin allbuttons {
  color: #ffff;
  background-color: rgb(23, 159, 131);
  padding: 12px 31px;
  border-radius: 30px;
  border: 1px;
  font-size: 21px;
}

@mixin flexBox($direction, $justify) {
  display: $direction;
  justify-content: $justify;
}

nav {
  background-color: rgb(254, 193, 81);
}

.container {
  @include flexBox(flex, space-between);
}

nav img {
  width: 125px;
}

button {
  @include allbuttons();
}
